* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body > main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

body > main > section {
    background-color: grey;
    width: 40%;
    margin: 2.5%;
    padding: 10px;
    border: 1px dotted black;
}

body > main > section > form {
    background-color: white;
    border: 1px dotted black;
    padding: 5%;
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
}

body > main > section > article > form {
    background-color: white;
    border: 1px dotted black;
    padding: 5%;
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
}

body > main > section > article:last-of-type {
    display: none;
}