* {
    box-sizing: border-box;
}

body {
    background-color: green;
    height: 100vh;
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body > main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

body > main > section {
    width: 40%;
    margin: 2.5%;
    border: 1px dotted black;
}

body > main > section > form {
    border: 1px dotted black;
    padding: 5%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
}
